{% extends 'navbar/adminnavbar.html' %}
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% block body %}
<div class="container text-center">
  <div class="row">
    <div class="col" style="background-color: aliceblue">
      First in DOM, ordered last
        <h1>Input Block</h1>
        <br><br><br>
        <form method="POST" action="{% url 'printer' %}">
            {% csrf_token %}
            <input type="text" name="klu" class="form-control" placeholder="Enter a name" />
            <br><br>
            <div class="d-grid gap-2">
                <button class="btn btn-primary" type="submit">
                Submit
                </button>
            </div>
        </form>
    </div>
    <div class="col" style="background-color: bisque">
      Second in DOM, unordered
        <h1>Output Block</h1>
            <h1> {{ klu }}</h1>
    </div>

  </div>
</div>
{% endblock %}
</body>
</html>